{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="{{"/assets/favicon/apple-icon-57x57.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{"/assets/favicon/apple-icon-60x60.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{"/assets/favicon/apple-icon-72x72.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{"/assets/favicon/apple-icon-76x76.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{"/assets/favicon/apple-icon-114x114.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{"/assets/favicon/apple-icon-120x120.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{"/assets/favicon/apple-icon-144x144.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{"/assets/favicon/apple-icon-152x152.png"  | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{"/assets/favicon/apple-icon-180x180.png"  | relative_url }}">
<link rel="icon" type="image/png" sizes="36x36"  href="{{"/assets/favicon/android-icon-36x36.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="48x48"  href="{{"/assets/favicon/android-icon-48x48.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="72x72"  href="{{"/assets/favicon/android-icon-72x72.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96"  href="{{"/assets/favicon/android-icon-96x96.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="144x144"  href="{{"/assets/favicon/android-icon-144x144.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{"/assets/favicon/android-icon-192x192.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"/assets/favicon/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{"/assets/favicon/favicon-96x96.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"/assets/favicon/favicon-16x16.png" | relative_url }}">

<!-- Generic Metadata -->
<link rel="canonical" href="https://blog.cryptohack.org" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://blog.cryptohack.org" />
<meta property="og:site_name" content="CryptoHack" />
<meta property="og:image" content="https://blog.cryptohack.org/assets/images/brain.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@CryptoHack__" />
<meta name="twitter:image" content="https://blog.cryptohack.org/assets/images/brain.png" />



<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {
  inlineMath: [['$','$'], ['\\(','\\)']],
  processEscapes: true
}
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script>
  function isLightThemeSelected() {
      return document.cookie.match(/theme=light/i) != null
  }

  function setThemeFromCookie() {
      var html = document.getElementsByTagName('html')[0]
      html.className = isLightThemeSelected() ? 'light-mode' : 'dark-mode'
      console.log('Loaded cookie: ' + document.cookie)
  }

  (function() {
    setThemeFromCookie()
  })();
</script>
