<footer class="site-footer h-card">
  <div class="footer-wrap">
    <div class="footerLinks">
        <div>
          <h5>CryptoHack</h5>
          <a id="changeTheme">Light Mode</a><br>
          <a href="https://cryptohack.org">CryptoHack</a><br>
          <a href="https://cryptohack.org/faq/">FAQ</a><br>
          <a href="https://blog.cryptohack.org">Blog</a><br>
          <a href="{{ 'feed.xml' | relative_url }}">Blog RSS Feed</a><br>
          <span class="footerIcon">
            <a href="https://twitter.com/cryptohack__" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://discord.gg/eJaJ3xC" aria-label="Discord"><i class="fab fa-discord"></i></a>
          </span><br>
        </div>
      </div>


      <div class="credits">
        <h5>Credits</h5>
        Illustrations from <a href="https://icons8.com">Ouch.pics</a><br>
        Drawn by <a href="https://dribbble.com/thierryfousse">Thierry Fousse</a>
      </div>

      <div class="copyright">
        <span>
          <a href="https://cryptohack.org/privacy-policy/">Privacy Policy</a> &nbsp;
        </span>

        <span>
          © 2020 CryptoHack
        </span>
      </div>
  </div>
</footer>
