<header class="site-header">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}


    <div class="top-nav">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      <a class="site-icon" href="https://cryptohack.org"><img src="/assets/images/icon.png" alt="cryptohack icon"></a>
    </div>
</header>
