<!DOCTYPE html>
<html class="dark-mode" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    function updateThemeToggleFooter() {
        var elem = document.querySelector('#changeTheme');
        elem.innerHTML = isLightThemeSelected() ? 'Dark Mode' : 'Light Mode'
    }

    (function() {
      updateThemeToggleFooter()
    })();

    $("#changeTheme").on("click", function(e){
      togglePageContentLightDark();
    });
  </script>

</html>
